#posts {
	width: 100%;
	position: relative;
}
#posts .post {
	margin-bottom: 100px;
	clear: both;
	display: block;
}
// #posts .post .stack {
// 	position: relative;
// 	display: table;
// 	cursor: pointer;
// 	float: left;
// }
// #posts .post .stack .image {
// 	position: absolute;
// 	opacity: 0;
// 	bottom: 0;
// 	left: 0;
// 	transition: transform 200ms ease-in-out;
// 	-moz-transition: -moz-transform 200ms ease-in-out;
// 	-webkit-transition: -webkit-transform 200ms ease-in-out;
// }
// #posts .post .stack .image.loaded {
// 	opacity: 1;
// }
// #posts .post .stack .image .image_wrapper {
// 	overflow: hidden;
// 	border: 2px solid;
// 	background-color: rgba(255,255,255,0.2);
// }
// #posts .post .stack .image .image_wrapper img {
// 	vertical-align: bottom;
// }
#posts .post .text {
	display: block;
	width: 100%;
	max-width: 500px;
	clear: both;
}
#posts .post .text .title {
	font-size: 55px;
	line-height: 56px;
	padding: 0px 0 10px 0;
	margin: 0;
	display: block;
}
#posts .post .text .post_date {
	font-size: 15px;
	line-height: 15px;
	padding: 15px 0 9px 0;
}
#posts .post .text .event_date {
	font-size: 22px;
  	padding: 0 0 15px 0;
  	font-weight: 800;
}
#posts .post .text .category {
	font-size: 15px;
	padding: 5px 0;
}
#posts .post .text .body {
	font-size: 22px;
	line-height: 28px;
	display: block;
	width: 100%;
}
