<h1>
	<%= link_to("\u2B05", {:action => 'index'}, :class => 'back-link symb') %>
	New person
</h1>
<%= form_for(:person, :url => {:action => 'create', :id => @person.id}) do |f| %>
	<%= render(:partial => "form", :locals => {:f => f}) %>
	<%= submit_tag("Create") %>
<% end %>