<% if !faculty %>
	<% faculty = @new_faculty %>
<% end %>
<% index = faculty.position.to_s %>

<h3 class="name">
	<%= f.text_field(:name) %>
</h3>

<div>
	
</div>
<div class="actions">

	<%= link_to('Save', "#", :onclick => "$('#" + faculty.name.parameterize + "').submit()", :class => "action submit") %>
	<%= link_to("Preview", {:controller => 'public', :action => 'index', :faculty => faculty.id}, :class => 'action preview') %>
	<%= link_to("Delete", {:controller => 'facultys', :action => 'delete', :id => faculty.id}, :class => 'action delete') %>
</div>