<div class="button swap" id="name">
	<div class="secondary_fill">
		<%= inline_svg('name', false) %>
	</div>
</div>
<div class="button swap" id="alma_maters">
	<div class="secondary_fill">
		<%= inline_svg('alma_mater', false) %>
	</div>
</div>
<div class="button swap" id="email">
	<div class="secondary_fill">
		<%= inline_svg('email', false) %>
	</div>
</div>
