<div class="button swap" id="name">
	<div class="secondary_fill">
		
	</div>
	<%= render 'public/tooltip', :text => "What are their names?" %>
</div>
<div class="button swap" id="alma_maters">
	<div class="secondary_fill">
		
	</div>
	<%= render 'public/tooltip', :text => "Where did they go to school?" %>
</div>
<div class="button swap" id="email">
	<div class="secondary_fill">
		
	</div>
	<%= render 'public/tooltip', :text => "How do I contact these people?" %>
</div>
