<section class="masonry swapper" id="faculties">
	<% @faculties.each do |faculty| %>
		<div class="faculty block">
			<div class="text name">
				<%= faculty.name %>
			</div>
			<div class="text alma_mater hidden">
				<% faculty.alma_maters.each do |am| %>
					<%= am %>
				<% end %>
			</div>
			<div class="text email hidden">
				<%= mail_to(faculty.email) %>
			</div>
			<div class="text title hidden">
				<%= faculty.title %>
			</div>
		</div>
	<% end %>
</section>