<h1 id="page_title">Faculty</h1>
<section class="clear" id="faculty">
	<div class="block">
		<% @faculties.each_with_index do |faculty, index| %>
			<div class="faculty" style="bottom: <%= @shift %>px; left: <%= @shift %>px;">
				<h3><%= faculty.name %></h3>
				<div class="image_wrapper">
					<%= image_tag faculty.image.url(:medium) %>
				</div>
			</div>
		<% end %>
	</div>
</section>