<div class="horz_center">
	<section class="vert_center" id="works">
		<div id="stack" class="static">
			<% @works.each do |work| %>
				<div class="work <%= work.media_type %>" <%= color('bg', @p, 'border', @s) %>>
					<div class="media_wrapper">
						<% if work.media_type == 'image' %>
							<%= image_tag work.image.url(:medium) %>
						<% else %>
							<%= render(:partial => "application/player", :locals => {:video => work.video.url(:medium)}) %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</section>
</div>