<div class="horz_center">
	<section class="vert_center" id="works">
		<div id="stack">
			<% @works.each do |work| %>
				<div class="work" <%= color('bg', @p, 'border', @s) %>>
					<div class="image_wrapper">
						<%= image_tag work.image.url(:medium) %>
					</div>
				</div>
			<% end %>
		</div>
	</section>
</div>