<% if params[:controller] != "access" %>
	<div id="admin_bar">
		<div class="inner">
			<% if session[:admin_id] %>
				<%= link_to("Logout", :controller => 'access', :action => 'logout') %>
			<% else %>
				<%= link_to("Login", :controller => 'access', :action => 'login') %>
			<% end %>
		</div>
	</div>
<% end %>