<section id="community">
	<h1>
		Community
	</h1>
	<ul id="events">
		<% @events.each do |event| %>
			<li>
				<%= event.name %>
				<% event.event_images.each do |event_image| %>
					<%= image_tag event_images.image.url(:medium) %>
				<% end %>
			</li>
		<% end %>
	</ul>
</section>