<% if !alumnus %>
	<% alumnus = @new_alumnus %>
<% end %>

<div class="row name">
		<%= f.text_field(:name, :placeholder => "Name") %>
</div>
<div class="row website">
	<%= f.text_field(:url, :placeholder => "Website") %>
</div>
<div>
	
</div>
<div class="actions">

	<%= link_to('Save', "#", :onclick => "$('#" + alumnus.position.to_s + "').submit()", :class => "action submit") %>
	<%= link_to("Delete", {:controller => 'alumni', :action => 'delete', :id => alumnus.id}, :class => 'action delete') %>
</div>