<div class="button swap" id="name">
	<div class="secondary_fill">
		<%= inline_svg('name', false) %>
	</div>
	<%= render 'public/tooltip', :text => "What are their names?" %>
</div>
<div class="button swap" id="website">
	<div class="secondary_fill">
		<%= inline_svg('link', false) %>
	</div>
	<%= render 'public/tooltip', :text => "Can I see their work?" %>
</div>
