<section class="masonry big" id="alumni">

	<div class="alumnus block">
		<%= form_for(@new_alumnus, :url => {:action => 'create', :id => @new_alumnus.id}, :html => { :id => @new_alumnus.position.to_s, :method => :post}) do |f| %>
			<%= render(:partial => "form", :locals => {:alumnus => @new_alumnus, :f => f}) %>
		<% end %>
	</div>

	<% @alumni.each do |alumnus| %>
		<div class="alumnus block">
			<%= form_for(alumnus, :url => {:action => 'update', :id => alumnus.id}, :html => { :id => alumnus.position.to_s, :method => :post}) do |f| %>
				<%= render(:partial => "form", :locals => {:alumnus => alumnus, :f => f}) %>
			<% end %>
		</div>
	<% end %>
	
</section>