<section class="masonry swapper" id="alumni">
	<% @alumni.each do |alumnus| %>
		<div class="alumnus block">
			<div class="swappee text name">
				<div class="row">
					<%= link_to alumnus.first_name, alumnus.url, :target => '_blank' %>
				</div>
				<div class="row">
					<%= link_to alumnus.last_name, alumnus.url, :target => '_blank' %>
				</div>
			</div>
			<div class="swappee text website hidden">
				<%= link_to alumnus.url, alumnus.url, :target => '_blank' %>
			</div>
		</div>
	<% end %>
</section>