<section class="masonry swapper" id="alumni">
	<% @alumni.each do |alumnus| %>
		<div class="alumnus block">
			<div class="text name">
				<%= alumnus.name %>
			</div>
			<div class="text website hidden">
				<%= link_to alumnus.url, alumnus.url, :target => '_blank' %>
			</div>
		</div>
	<% end %>
</section>