<h1 id="page_title">Alumni</h1>
<section id="alumni">
	<% 10.times do |i| %>
		<% @alumni.each do |alumnus| %>
			<div class="block alumnus">
				<%= link_to alumnus.name, alumnus.url, {:style => 'color:'+@s, :class=> "name", :target => '_blank'} %>
				<%= link_to alumnus.url, alumnus.url, {:style => 'color:'+@s, :class=> "url", :target => '_blank'} %>
			</div>
		<% end %>
	<% end %>
</section>