<h1>
	<%= link_to("\u2B05", {:action => 'index'}, :class => 'back-link symb') %>
	New alumnus
</h1>
<%= form_for(:alumnus, :url => {:action => 'create'}) do |f| %>
	<%= render(:partial => 'form', :locals => {:f => f}) %>
	<%= submit_tag("Create") %>
<% end %>