<% if admin? %>
	<div id="instructions">
		HTML is allowed.
	</div>
<% end %>
<section id="aboutContainer">
	<div class="block">
		<% if @about.persisted? %>
			<%= form_for(@about, :url => {:action => 'update', :id => @about.id}, :html => { :id => 'about', :class => 'new', :method => :post}) do |f| %>
				<%= render(:partial => "form", :locals => {:f => f}) %>
			<% end %>
		<% else %>
			<%= form_for(@about, :url => {:action => 'create', :id => @about.id}, :html => { :id => 'about', :class => 'new', :method => :post}) do |f| %>
				<%= render(:partial => "form", :locals => {:f => f}) %>
			<% end %>
		<% end %>
	</div>
</section>