<section class="masonry swapper" id="resources">
	<% @resources.each do |resource| %>
		<div class="resource block">
			<div class="swappee text title">
				<%= link_to resource.name, resource.link, :target => '_blank' %>
			</div>
			<div class="swappee text website hidden">
				<%= link_to resource.link, resource.link, :target => '_blank' %>
			</div>
			<div class="swappee image hidden">
				<%= link_to image_tag(resource.image(:medium)), resource.link %>
			</div>
		</div>
	<% end %>
</section>