<section class="masonry big" id="courses">

	<div class="course block">
		<%= form_for(@new_course, :url => {:action => 'create', :id => @new_course.id}, :html => { :id => @new_course.id.to_s, :class => 'new', :method => :post}) do |f| %>
			<%= render(:partial => 'form', :locals => {:course => @new_course, :f => f}) %>
		<% end %>
	</div>

	<% @courses.each_with_index do |course, index| %>
		<div class="course block">
			<div class="row">
				<%= form_for(course, :url => {:action => 'update', :id => course.id}, :html => { :id => course.id.to_s, :method => :post}) do |f| %>
					<%= render(:partial => 'form', :locals => {:course => course, :f => f}) %>
				<% end %>
			</div>
		</div>
	<% end %>
</section>