<section id="courses">
	<% @course_list.each do |year| %>
		<div class="year">
			<h2><%= year[:name] %> Year</h2>
			<% year[:semesters].each do |semester| %>
				<% if semester[:courses].any? %>
					<div class="semester">
						<h3><%= semester[:name] %></h3>
						<% semester[:courses].each do |course| %>
							<div class="course" <%= color('border', @s) %>>
								<div class="text">
									<% if course[:required] %>
										<h5 class="required">Required</h5>
									<% end %>
									<h2 class="name">
										<%= active_link_to(course.name, '/course/single/'+course.id.to_s) %>
									</h2>
								</div>
							</div>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
</section>