html {

}
body {
	background: black;
	color: white;
}
/***************/
/*ADMIN MODULES*/
/***************/
#admin_bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	display: table;
	background: black;
}
#admin_bar .inner {
	padding: 5px 10px;
	display: table-cell;
	vertical-align: middle;
}
aside#admin_panel {
	background: black;
}
aside#admin_panel header {
	margin-top: 10px;
}
aside#admin_panel header h1 {
	font-size: 20px;
}
aside#admin_panel nav {

}
aside#admin_panel nav ul {
	padding: 0;
}
aside#admin_panel nav ul li {

}
aside#admin_panel footer {

}
/************/
/*USER FORMS*/
/************/
label {
	font-size: 35px;
	font-weight: 700;
	color:white;
}
input[type=submit], input[type=password], input[type=text], textarea, select {
	font-size: 35px;
	font-weight: 700;
	color:white;
	background: black;
	border:white 5px solid;
	display: block;
	margin: 10px 0;
	padding: 10px;
	width: 400px;
}
input[type=password], input[type=text] {
	width: 410px;
	padding: 10px 0px 10px 10px;
}
input[type=submit], select {
	cursor: pointer;
	width: auto;
}
input[type=submit] {
	margin: 40px 0;
}
input[type=checkbox] {
	display: block;
	padding: 10px;
}
input[type=file] {
	display: block;
	font-size: 25px;
	font-weight: 700;
	padding: 10px;
	color: transparent;
}
select {
	background-image: url(http://findicons.com/files/icons/2315/default_icon/128/arrow_down_inv.png);
	background-size: 30px;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left:30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
}
.date_select {
	display: table;
  	width: 100%;
}
.date_select select {
	float: left;
	margin-right: 10px;
}
textarea {
	height: 200px;
}
.table {
	display: table;
}
.table .row {
	display: table-row;
}
.table .column {

}
.table .cell {
	display: table-cell;
	padding-right: 10px;
}
.table .cell input {
	width: 300px;
	float: left;
}
.table .cell select {
	float: left;
}
.field_with_errors, .field_with_errors select, .field_with_errors input {
	border-color: red;
}
.field_with_errors label {
	color: red;
}
.actions {
	a.action {
		font-size: 18px;
		display: table;
		float: left;
		text-decoration: none;
		opacity: 0.8;
		&:hover {
			opacity: 0.9;
		}
	}
}