html {

}
body {
	background: black;
	color: white;
}
/***************/
/*ADMIN MODULES*/
/***************/
#top_bar {
	right: 44px;
  	width: calc(100% - 88px);
	width: -moz-calc(100% - 88px);
	width: -webkit-calc(100% - 88px);
}
#admin_bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 98px);
	height: 50px;
	display: table;
	background: black;
}
#admin_bar .inner {
	padding: 5px 10px;
	display: table-cell;
	vertical-align: middle;
}
aside#admin_panel {
	background: black;
}
aside#admin_panel header {
	margin-top: 10px;
}
aside#admin_panel header h1 {
	font-size: 20px;
}
#top_bar nav {
	width: 100%;
}
#top_bar nav #nav-wrapper {
	float: left;
}
#top_bar nav #nav_wrapper ul#nav_links {
	background: black;
	border: 1px solid rgba(255,255,255,0.3);
}
/************/
/*USER FORMS*/
/************/
.block {
	width: 278px;
	margin-bottom: 40px;
	border: 1px solid rgba(255,255,255,0.3);
}
.block .row {
	border-bottom: 1px solid rgba(255,255,255,0.3);
	display: table;
	width: 100%;
}
.small .block {
	width: 278px;
}
.small .block input, .small .block select {
	font-size: 35px;
}
.big .block {
	width: 448px;
}
.big .block input, .big .block select {
	font-size: 25px;
}
.block .name {
	padding: 0;
	display: block;
	text-align: center;
	overflow: hidden;
}
.block h2 {
	font-size: 20px;
	line-height: 20px;
	padding: 10px;
	margin: 0;
	opacity: 0.7;
}
.block input[type=submit], .block input[type=password], .block input[type=text], .block textarea, .block select {
	width: 100%;
	font-weight: 700;
	color:white;
	background: transparent;
	border: none;
	margin: 0;
	width: calc(100% - 10px);
	width: -moz-calc(100% - 10px);
	width: -webkit-calc(100% - 10px);
	padding: 10px 0 10px 10px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	resize: none;
}
.block input[type=password], .block input[type=text] {
	padding: 10px 0px 10px 10px;
}
.block input[type=submit], .block select {
	cursor: pointer;
	width: auto;
}
.block input[type=submit] {
	margin: 40px 0;
}
.block input[type=checkbox] {
	display: block;
	padding: 10px;
}
.block input[type=file] {
	display: block;
	font-size: 25px;
	font-weight: 700;
	padding: 10px;
	color: transparent;
	width: 100%;
}
.block select {
	opacity: 0.7;
	text-transform: capitalize;
}
.block form .file {
	width: 100%;
	height: 278px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	border-top: 1px solid rgba(255,255,255,0.3);
}
.block form .file svg {
	width: 228px;
  	height: 228px;
  	padding: 25px;
	vertical-align: bottom;
}
.block form .full.file svg {
	width: 100%;
	height: 100%;
	padding: 0;
}
.block form .file .image {
	width: calc(100% - 50px);
  	height: calc(100% - 50px);
	margin: 25px;
	background-position: center;
	background-size: contain; 
	/*background-repeat: no-repeat;*/
}
.block form .drop {
	width: calc(100% - 50px);
  	height: 228px;
  	margin: 25px auto;
	border: 1px dashed rgba(255,255,255,0.3);
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.block form .drop input[type=file] {
	padding: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.block form .actions {
	display: table;
	margin: auto;
}
.block form .actions a.action {
	font-size: 18px;
	display: table;
	float: left;
	text-decoration: none;
	opacity: 0.8;
	margin: 5px;
}
.block form .actions a.action:hover {
	opacity: 0.9;
}
.block textarea {
	height: 200px;
	font-size: 20px;
	line-height: 25px;
}
.field_with_errors, .field_with_errors select, .field_with_errors input {
	border-color: red;
}
.field_with_errors label {
	color: red;
}