@import "application";
@import "access/*";
body.admin {
	background: black;
	color: white;
	.masonry {
		width: 100%;
		display: block;
		.block {
			float: left;
		}
	}
	#border {
		padding: 120px 40px 40px 40px;
	}

	#top_bar {
		right: 44px;
	}

	#top_bar nav {
		float: right;
	}

	#top_bar nav #nav_wrapper {
		float: right;
	}

	#top_bar nav #nav_wrapper ul#nav_links {
		background: black;
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	#instructions {
		color: rgba(255, 255, 255, 0.3);
		font-size: 20px;
		margin: 0 auto 40px auto;
		display: table;
		font-weight: 700;
		max-width: 900px;
	}

	.block {
		width: 278px;
		margin-bottom: 40px;
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	.small .block {
		width: 278px;
	}

	.small .block input,
	.small .block select {
		font-size: 35px;
	}

	.big .block {
		width: 448px;
	}

	.block .row {
		display: table;
		width: 100%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}

	.block .row .half {
		float: left;
	}

	.block .row .half:first-child {
		border-right: 1px solid rgba(255, 255, 255, 0.3);
		width: calc(50% - 1px);
		width: -moz-calc(50% - 1px);
		width: -webkit-calc(50% - 1px);
	}

	.block .row .half:last-child {
		width: 50%;
	}

	.big .block input,
	.big .block select {
		font-size: 25px;
	}

	.block .name {
		padding: 0;
		display: block;
		text-align: center;
		overflow: hidden;
	}

	.block h3.name {
		padding: 5px 0;
	}

	.block h2 {
		font-size: 20px;
		line-height: 20px;
		padding: 10px;
		margin: 0;
		opacity: 0.7;
	}

	.block input[type=submit],
	.block input[type=password],
	.block input[type=text],
	.block textarea,
	.block select {
		width: 100%;
		font-weight: 700;
		color: white;
		background: transparent;
		border: none;
		margin: 0;
		width: calc(100% - 10px);
		width: -moz-calc(100% - 10px);
		width: -webkit-calc(100% - 10px);
		padding: 10px 0 10px 10px;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 0;
		resize: none;
	}

	.block textarea {
		padding: 10px;
		width: calc(100% - 20px);
		width: -moz-calc(100% - 20px);
		width: -webkit-calc(100% - 20px);
	}

	.block select {
		padding: 10px;
		text-transform: capitalize;
	}

	.block label {
		font-size: 25px;
		padding: 10px 0 10px 10px;
		font-weight: 700;
		color: white;
		opacity: 0.7;
	}

	.block input[type=password],
	.block input[type=text] {
		padding: 10px 0px 10px 10px;
	}

	.block input[type=submit],
	.block select {
		cursor: pointer;
		width: auto;
	}

	.block input[type=submit] {
		margin: 40px 0;
	}

	.block input[type=checkbox] {
		display: block;
		padding: 10px;
	}

	.block input[type=file] {
		display: block;
		font-size: 25px;
		font-weight: 700;
		padding: 10px;
		color: transparent;
		width: 100%;
	}

	.block form.new select {
		opacity: 0.7;
	}

	.block form .file {
		width: 100%;
		height: 278px;
		/*border-bottom: 1px solid rgba(255,255,255,0.3);
	border-top: 1px solid rgba(255,255,255,0.3);*/
	}

	.block form .full.file svg {
		width: 100%;
		height: 100%;
		padding: 0;
	}

	.block form .file .image {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: contain;
		/*background-repeat: no-repeat;*/
	}

	.block form .drop {
		width: 100%;
		height: 100%;
		position: relative;
		background-position: center;
		background-size: 90% 90%;
		background-repeat: no-repeat;
		background-image: url(asset-path("upload.svg"));
	}

	.block form .drop.readingFile {
		background-image: url(asset-path("loading.gif"));
	}

	.block:first-child form:not(.can_save) .drop {
		background-size: 90% 90%;
	}

	.block:first-child form.can_save .drop.video {
		background-size: 50% 50%;
		background-image: url(asset-path("white-check.svg"));
	}

	.block form .drop input[type=file] {
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	.block form .actions {
		display: table;
		margin: auto;
	}

	.block form .actions a.action {
		font-size: 18px;
		display: table;
		float: left;
		text-decoration: none;
		opacity: 0.8;
		margin: 5px;
	}

	.block.upload:first-child form .actions a.action.submit {
		display: none;
	}

	.block.upload form.can_save .actions a.action.submit {
		display: table;
	}

	.block form .actions a.action:hover {
		opacity: 0.9;
	}

	.block textarea {
		font-size: 20px;
		line-height: 25px;
		vertical-align: bottom;
	}

	.block form .destroy input[type="checkbox"] {
		display: none;
	}

	.block form .destroy input[type="checkbox"]+label {
		height: 20px;
		width: 20px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		background-image: url(asset-path("clear.svg"));
		background-size: 80%;
		background-position: center;
		background-repeat: no-repeat;
		background-color: black;
		cursor: pointer;
		opacity: 0.4;
		padding: 3px;
		border: 3px solid white;
		z-index: 11;
	}

	.block form .destroy input[type="checkbox"]+label:hover {
		opacity: 0.6;
	}

	.block form .destroy input[type="checkbox"]:checked+label {
		opacity: 1;
	}

	.field_with_errors,
	.field_with_errors select,
	.field_with_errors input {
		border-color: red;
	}

	.field_with_errors label {
		color: red;
	}

	.block:first-child form .row.position h1 {
		font-size: 27px;
		margin: auto;
		padding: 10px 50px;
		display: table;
	}

	.block form .position select.position {
		display: table;
		margin: auto;
		padding: 10px 50px;
		border: none;
		font-size: 27px;
	}

	.block form .with_position input[type="text"] {
		width: calc(100% - 60px);
		float: left;
	}

	.block form .with_position select.position {
		width: 50px;
		float: left;
		text-align: right;
		border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
		text-indent: 5px;
	}

	.block:first-child form .with_position select.position {
		display: none !important;
	}

	.block form .images {
		width: calc(100% - 20px);
		width: -moz-calc(100% - 20px);
		width: -webkit-calc(100% - 20px);
		height: auto;
		border-top: none;
		border-bottom: 1px solid rgba(255,255,255,0.3);
		display: table;
	}
	.block form .images .image {
		overflow: hidden;
	}
	.block form .images .drop  {
		width: calc(50% - 20px) !important;
		height: 220px !important;
		margin: 10px;
		position: relative;
		float: left;
		background-size: contain !important;
	}
	.block form .images .drop img {
		width: 100%;
	}
	.block form .images .drop .file  {
		width: 100% !important;
		height: 100% !important;
	}
	.block form .images .drop .remove svg {
		width: 100%;
		height: 100%;
	}

	#login,
	#enter_back {
		height: 100%;
	}

	#login h1,
	#enter_back h1 {
		text-align: center;
		width: 100%;
		max-width: 1000px;
		margin: auto;
		display: table;
	}

	#login form {
		display: table;
		margin: 20px auto;
	}

	#login input {
		width: 400px;
		font-size: 35px;
		font-weight: 700;
		color: white;
		background: transparent;
		border: 1px solid rgba(255, 255, 255, 0.3);
		margin: 10px;
		padding: 10px 0 10px 10px;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 0;
		resize: none;
		display: block;
		float: none;
	}

	#login input[type="submit"] {
		width: 410px;
		padding: 10px 0;
		cursor: pointer;
	}

	#delete {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 20;
		display: block;
		color: white;
		overflow: scroll;
		display: table;
		background: rgba(0, 0, 0, .2);
	}

	#delete .popup {
		padding: 20px;
		width: 60%;
		min-width: 500px;
		display: table;
		margin: auto;
		border: solid 5px;
		background: black;
	}

	#delete .popup .inner {
		display: table;
		height: 100%;
	}

	#delete h1 {
		width: 100%;
		text-align: center;
	}

	#delete .decision {
		display: table;
		margin: auto;
	}

	#delete .decision form {
		float: left;
	}

	#delete .decision input[type="submit"] {
		font-size: 35px;
		font-weight: 700;
		color: inherit;
		background: transparent;
		border: 5px solid;
		margin: 10px;
		padding: 20px;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 0;
		resize: none;
		float: left;
		cursor: pointer;
	}

	.tip {
		display: table;
		opacity: 0.7;
		font-size: 18px;
		padding: 5px 0;
		margin: auto;
	}

	.can_save .tip {
		display: none;
	}

	.download {
		display: table;
		margin: 20px auto;
		text-decoration: none;
		font-size: 27px;
		font-weight: 700;
		border: 4px solid;
		padding: 20px;
	}
}