#alumni {
	position: relative;
}
#alumni .block.alumnus {
	width: 280px;
	word-wrap: break-word;
	margin-bottom: 40px;
}
#alumni .block.alumnus a {
	text-decoration: none;
	font-weight: 700;
	font-size: 60px;
}
#alumni .block.alumnus a.name, #alumni .block.alumnus:hover a.url {
	display: block;
}
#alumni .block.alumnus a.url, #alumni .block.alumnus:hover a.name {
	display: none;
}