.admin .block form select {
	border-right: 1px solid rgba(255,255,255,0.3);
}
.public #apply .block {
	display: block;
	clear: both;
	padding-bottom: 40px;
	width: 450px;
}
.public #apply .block .box {
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	border: 4px solid;
	margin-right: 30px;
	position: relative;
	cursor: pointer;
	margin-top: 7px;
}
.public #apply .block .box svg {
	display: none;
	position: absolute;
	bottom: 0px;
	left: 3px;
	width: 45px;
	height: 45px;
}
.public #apply .block .box.checked svg {
	display: block;
}
.public #apply .block .text {
  	display: table;
}
.public #apply_btn {
	display: table;
	margin: auto;
	text-decoration: none;
	border: 4px solid;
	padding: 20px;
}