@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
/***************/
/*DEFAULT STUFF*/
/***************/
::-webkit-scrollbar { 
    display: none; 
}
html {
	height: 100%;
}
body {
	font-family: 'Arial', sans-serif;
	font-size: 24px;
	margin: 0;
	position: relative;
	height: 100%;
	width: 100%;
	display: table;
	overflow: hidden;
}
a {
	color: inherit;
}
h1 {
	display: inline-block;
	font-size: 95px;
    margin: 0 0 20px 0;
}
h1 a {
	text-decoration: none;
}
h2 {
	margin: 0 0 5px 0;
}
h3 {
	margin: 0;
}
h4 {
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
.static {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/***********************/
/********TOP BAR********/
/***********************/
#top_bar {
	position: absolute;
  	top: 44px;
  	display: block;
  	z-index: 20;
}
#top_bar nav {
	display: table;
	height: 100%;
}
#top_bar nav #nav_wrapper {
	height: 100%;
  	display: table;
}
#top_bar nav #nav_wrapper ul#nav_links {
	display: table;
	/*border: 1px solid;*/
	padding: 5px;
}
#top_bar nav #nav_wrapper ul#nav_links li.nav_link {
	float: left;
	padding: 5px;
	margin: 0 15px 0 0;
	font-size: 17px;
}
#top_bar nav #nav_wrapper ul#nav_links li.nav_link:last-child {
	margin-right: 0;
}
#top_bar nav #nav_wrapper ul#nav_links li.nav_link a {
	text-decoration: none;
	font-size: 17px;
	font-weight: 600;
	padding-bottom: 1px;
}
#top_bar nav #nav_wrapper ul#nav_links li.nav_link a.active,
#top_bar nav #nav_wrapper ul#nav_links li.nav_link a:hover {
	border-bottom: 2px solid;
}
/*****************/
/*CONTENT SECTION*/
/*****************/
#border {
	width: calc(100% - 98px);
	width: -moz-calc(100% - 98px);
	width: -webkit-calc(100% - 98px);
	border: 9px solid;
	display: block;
	overflow: auto;
}
main {
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
}
#page_content {
	height: 100%;
	width: 100%;
	display: table;
	padding-bottom: 50px;
}
.masonry {
	display: table;
	margin: auto;
}
#content {
	padding: 0 30px 0 150px
}
/**********************/
/*TOP NOTIFICATION BAR*/
/**********************/
.notice {
	height: 70px;
}
.notice .bar {
	position: fixed;
	font-size: 30px;
	font-weight: 700;
	padding: 10px;
	height: 50px;
	width: 100%;
	display: table;
}
.notice .bar .vert {
	vertical-align: middle;
	display: table-cell;
}
.notice.good .bar {
	background: #0aff51;
	color:black;
}
.notice.bad .bar {
	background: red;
	color: white;
}
.notice.neutral .bar {
	background: black;
	color: white;
}
/*********/
/*HELPERS*/
/*********/
.clear {
	clear: both;
}
.horz_center {
	display: table !important;
	margin-left: auto !important;
	margin-right: auto !important;
	height: 100%;
}
.vert_center {
	display: table-cell !important;
	vertical-align: middle !important;  
}