@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
/***************/
/*DEFAULT STUFF*/
/***************/

html {
	height: 100%;
}
body {
	font-family: Helvetica, 'Arial', sans-serif;
	font-size: 24px;
	margin: 0;
	position: relative;
	height: 100%;
	width: 100%;
	display: table;
	overflow: hidden;
}
a {
	color: inherit;
}
h1 {
	display: inline-block;
	font-size: 95px;
    margin: 0 0 20px 0;
}
h1 a {
	text-decoration: none;
}
h2 {
	margin: 0 0 5px 0;
}
h3 {
	margin: 0;
}
h4 {
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
/***********************/
/********TOP BAR********/
/***********************/
#top_bar {
	position: absolute;
  	top: 44px;
  	display: block;
  	z-index: 10;
}
#top_bar nav {
	display: table;
	height: 100%;
	
}
#top_bar nav #nav_wrapper {
	height: 100%;
  	display: table;
}
#top_bar nav #nav_wrapper ul#nav_links {
	display: table;
	/*border: 1px solid;*/
	padding: 5px;
}
#top_bar nav #nav_wrapper ul#nav_links li.nav_link {
	float: left;
	padding: 5px;
	margin: 0 15px 0 0;
	font-size: 20px;
}
#top_bar nav #nav_wrapper ul#nav_links li.nav_link:last-child {
	margin-right: 0;
}
#top_bar nav #nav_wrapper ul#nav_links li.nav_link a {
	text-decoration: none;
	font-size: 20px;
	padding-bottom: 2px;
}
#top_bar nav #nav_wrapper ul#nav_links li.nav_link a.active,
#top_bar nav #nav_wrapper ul#nav_links li.nav_link a:hover {
	border-bottom: 2px solid;
}
/*****************/
/*CONTENT SECTION*/
/*****************/
#border {
	width: calc(100% - 98px);
	width: -moz-calc(100% - 98px);
	width: -webkit-calc(100% - 98px);
	/*height: 100%;*/
	padding: 105px 40px 40px 40px;
	border: 9px solid;
	display: block;
	overflow: scroll;
}
main {
	height: 100%;
	position: relative;
}
#page_content {
	height: 100%;
	width: 100%;
	display: table;
}
#content {
	padding: 0 30px 0 150px
}
/**********************/
/*TOP NOTIFICATION BAR*/
/**********************/
.notice {
	font-size: 30px;
	font-weight: 700;
	padding: 10px;
	color: black;
}
.notice.good {
	background: lime;
	color:black;
}
.notice.bad {
	background: red;
	color: white;
}
.notice.neutral {
	background: black;
	color: white;
}
/*********/
/*HELPERS*/
/*********/
.clear {
	clear: both;
}
.horz_center {
	display: table !important;
	margin-left: auto !important;
	margin-right: auto !important;
	height: 100%;
}
.vert_center {
	display: table-cell !important;
	vertical-align: middle !important;  
}