form input {
	text-transform:uppercase;
}
#palettes {
	width: 100%;
	position: relative;
}
#palettes .palette.block {
	width: 280px;
	height: auto !important;
	margin-bottom: 40px;
	border: 1px solid rgba(255,255,255,0.3);
}
#palettes .palette.block .swatch {
	float: left;
}
#palettes .palette.block .swatch input.color {
	font-size: 55px;
	width: 270px;
	height: 70px;
	float: left;
	border: 0;
	padding: 0px 0px 0px 10px;
	margin: 0;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
#palettes .palette.block .swatch input[type="submit"].color {
	height: auto;
	width: auto;
	margin: 0;
	padding: 5px;
	background: none;
	border: none;
	font-size: 18px;
	line-height: 15px;
	font-weight: normal;
	text-transform: none;
	display: table;
	float: left;
	opacity: 0.8;
}