main {
	opacity: 0;
}
#gradient, #pattern {
	position: fixed;
	z-index: -1;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-attachment: fixed;
}
#gradient {
	background-size: cover;
	background-repeat: no-repeat;
}
#pattern {
	background-repeat: repeat;
}
#border {
}
/***********************/
/********TOP BAR********/
/***********************/
#top_bar {
	right: 44px;
  	width: calc(100% - 88px);
	width: -moz-calc(100% - 88px);
	width: -webkit-calc(100% - 88px);
}
#top_bar nav {
	float: right;
}
#top_bar nav #nav_wrapper {
	float: right;
}
#top_bar nav ul {
	padding: 0;
}
#top_bar nav ul li {

}
#top_bar nav ul li a {
	color: inherit;
}
#top_bar footer {

}
/**********************/
/*******SIDE BAR*******/
/**********************/
aside#side_bar {
	position: absolute;
	z-index: 10;
	top: 9px;
	left: 9px;
	width: 105px;
}
aside#side_bar header {
	width: 95px;
	height: 95px;
	display: table;
}
aside#side_bar header #logo {
	height: 75px;
  	width: 75px;
  	display: table;
  	margin: 15px;
  	cursor: pointer;
}
aside#side_bar header #logo svg {
	height: 75px;
	width: 75px;
	vertical-align: middle;
}
aside#side_bar #tools {
	position: absolute;
	bottom: 12px;
	left: 12px;
	/*border: 1px solid;*/
}
aside#side_bar #tools #style_control {
	width: 100%;
}
aside#side_bar.styling #tools #style_control {
	
}
aside#side_bar #tools #style_control #buttons {
	display: table;
	margin: auto;
}
aside#side_bar #tools #style_control .button {
	width: 50px;
	height: 50px;
	margin: 15px;
	cursor: pointer;
	position: relative;
}
aside#side_bar #tools #style_control .button .method:not(.clear) {
	width: 100%;
	height: 100%;
}
aside#side_bar #tools #style_control .button *:not(.tooltip) {
	/*opacity: 0.8;*/
	transition: opacity 400ms ease-in-out;
	-moz-transition: opacity 400ms ease-in-out;
	-webkit-transition: opacity 400ms ease-in-out;
}
/*aside#side_bar #tools #style_control .button:hover *:not(.tooltip) {
	opacity: 1;
}*/
aside#side_bar #tools #style_control .button .tooltip {
	position: absolute;
	left: 50px;
	top: 0;
	font-size: 19px;
	display: block;
	padding-left: 15px;
	width: 0px;
	overflow: hidden;
	transition: width 100ms ease-in-out;
	-moz-transition: width 100ms ease-in-out;
	-webkit-transition: width 100ms ease-in-out;
	/*border-right: solid 1px;*/
	min-height: 40px; 
}
/*aside#side_bar #tools #style_control .button:hover .tooltip {
	width: 213px;
	transition: width 200ms ease-in-out;
	-moz-transition: width 200ms ease-in-out;
	-webkit-transition: width 200ms ease-in-out;
	border-right: solid 1px;
}*/
aside#side_bar #tools #style_control .button .tooltip .border {
	width: 200px;
	height: 40px;
	display: table;
	background: rgba(255,255,256,.05);
	padding: 5px 5px 5px 8px;
	/*border-top: solid 1px;
	/*border-bottom: solid 1px;*/
}
aside#side_bar #tools #style_control .button .tooltip .border .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
aside#side_bar #tools #style_control .button .tooltip .border .inner .text {
	display: table;
	margin: auto;
}
aside#side_bar #tools #style_control .button .clear {
	display: none;
	position: absolute;
	top:-8px;
	right: -8px;
	width: 16px;
	height: 16px;
}
aside#side_bar #tools #style_control .button .clear svg {
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: bottom;
}
aside#side_bar #tools #style_control .button.on .clear {
	display: block;
}
aside#side_bar #tools #style_control .button .method#next_palette .swatch {
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
	position: absolute;
}
aside#side_bar #tools #style_control .button .method#next_palette .swatch.primary {
	bottom: 0;
	left: 0;
	z-index: 1;
	height: 40px;
	width: 40px;
}
aside#side_bar #tools #style_control .button .method#next_palette .swatch.secondary {
	top: 0px;
	right: 0px;
	z-index: 2;
	height: 20px;
	width: 20px;
	border: 10px solid;
}
aside#side_bar #tools #style_control .button .method#next_logo .swatch {
	background: transparent !important;
	position: absolute;
}
aside#side_bar #tools #style_control .button .method#next_logo .swatch.next {
	height: 45px;
	width: 45px;
	top: 0;
	right: 0;
	z-index: 2;
}
aside#side_bar #tools #style_control .button .method#next_logo .swatch.current {
	height: 20px;
	width: 20px;
	opacity: 0.6;
	bottom: 0;
	left: 0;
	z-index: 1;
}
aside#side_bar #tools #style_control .button .method#next_logo .swatch svg {
	width: 100%;
	height: 100%;
}
aside#side_bar #tools #style_control .button .method#next_logo .swap_arrow {
	display: table;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 3;
	display: none;
}
aside#side_bar #tools #style_control .button .method#next_logo .swap_arrow svg {
	width: 20px;
	height: 20px;
}
aside#side_bar #tools #style_control .button .method#next_gradient {
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
}
aside#side_bar #tools #style_control .button .method#next_gradient svg {
	width: 100%;
	height: 100%;
}
aside#side_bar #tools #style_control .button .method#next_pattern {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
/*****************/
/*CONTENT SECTION*/
/*****************/
#border {
	padding-left: 130px;
	width: calc(100% - 188px);
  	width: -moz-calc(100% - 188px);
  	width: -webkit-calc(100% - 188px);
}
.masonry {
	margin: auto;
}
.swapper .block {
	font-size: 60px;
	line-height: 65px;
	font-weight: 700;
	padding-bottom: 40px;
	width: 350px;
	word-wrap: break-word;
	overflow: hidden;
}
.swapper .block .text.name {
	word-spacing: 300px;
}
.swapper .block .email, .swapper .block .website, .swapper .block .title {
	font-size: 45px;
	line-height: 46px;
}
.swapper .block a {
	text-decoration: none;
	hyphens: none;
}
.swapper .hidden {
	display: none;
}


/*****************/
/******ABOUT******/
/*****************/
.about #page_content {
	opacity: 0;
}
#about {
	position: absolute;
  	top: 115px;
  	left: 25px;
  	background: black;
  	width: calc(100% - 60px);
  	height: calc(100% - 150px);
  	border: solid white 5px;
  	z-index: 20;
  	display: none;
  	color: white;
  	overflow: scroll;
}
.about #about {
	display: block;
}

#about .inner {
	padding: 40px;
}
#about .half {
	float: left;
}
#about .left.half {
	width: calc(60% - 20px);
	width: -moz-calc(60% - 20px);
	width: -webkit-calc(60% - 20px);
	margin-right: 20px;
}
#about .right.half {
	width: 40%;
}
#about .module {
	margin-bottom: 20px;
	border: 1px solid rgba(255,255,255,0.3);
}
#about .block {
	display: table;
	width: 100%;
	width: calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
	padding: 10px;
}
#about .block.title {
	border-bottom: 1px solid rgba(255,255,255,0.3);
	font-size: 25px;
	line-height: 29px;
	font-weight: 700;
}
#about .block.button {
	text-align: center;
	cursor: pointer;
}
#about .block.body, #about .block.list {
	font-size: 18px;
	line-height: 25px;
}
#about .block.body {
	text-align: justify;
}
#about .block.list {
	padding: 0;
	width: 100%;
}
#about .block.list .row {
	width: calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
	padding: 10px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
#about .block.list .row:last-child {
	border: none;
}
#hiddenPalette {
	display:none;
}
