body {
	background: black;
	color: white;
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 24px;
	margin: 0;
}

a {
	color: white;
}
h1 {
	display: inline-block;
	font-size: 95px;
	color: black;
	-webkit-text-fill-color: black;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    margin: 0 0 20px 0;
}
h2 {

}
h3 {
	margin: 0;
}
main {
	padding: 0 30px;
}
.symb {
	font-size: 95px;
	text-decoration: none;
	color: black;
	-webkit-text-fill-color: black;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}
input, textarea, select {
	font-size: 35px;
	font-weight: 700;
	color:white;
	background: black;
	padding:10px;
	border:white 5px solid;
	cursor: pointer;
	display: block;
	margin: 10px 0;
}
select {
	padding: 20px;
}
textarea {
	height: 200px;
}
.notice {
	font-size: 30px;
	font-weight: 700;
	padding: 10px;
	color: black;
}
.notice.good {
	background: lime;
}
.notice.bad {
	background: red;
}