.admin form .file .drop {
	display: none;
	border: 0;
}
.admin form[data-media="image"] .file .drop.image, .admin form[data-media="video"] .file .drop.video {
	display: block;
	overflow: hidden;
}
.admin form[data-media="video"] .file .drop.video video {
	height: 100%;
	width: auto;
}
.admin form select, .admin form input {
	font-size: 27px;
}
section#works {
	display: table;
	width: 100%;
}
section#works .work {

}
section#works .work .media_wrapper video {
	vertical-align: bottom;
}
.block {
	
}
#stack {
	position: relative;
	display: table;
	margin: auto;
	cursor: pointer;
}
#stack .work {
	position: absolute;
	opacity: 0;
	bottom: 0;
	left: 0;
	transition: transform 200ms ease-in-out;
	-moz-transition: -moz-transform 200ms ease-in-out;
	-webkit-transition: -webkit-transform 200ms ease-in-out;
}
#stack .work.loaded {
	opacity: 1;
}
#stack .work .media_wrapper {
	overflow: hidden;
	border: 3px solid;
}
#stack .work .media_wrapper img {
	vertical-align: bottom;
}
#stack .work:last-child .media_wrapper img {
}
#stack .work h3 {
	display: none;
}
