section#works {
	display: table;
	width: 100%;
}
section#works .work {

}
section#works .work .image_holder {
	width: 100px;
	float:left;
}
section#works .work .image_holder img {
	width: 100%;
}

.block {
	
}
#stack {
	position: relative;
	display: table;
	margin: auto;
	cursor: pointer;
}
#stack .work {
	position: absolute;
	opacity: 0;
	bottom: 0;
	left: 0;
	transition: transform 200ms ease-in-out;
	-moz-transition: -moz-transform 200ms ease-in-out;
	-webkit-transition: -webkit-transform 200ms ease-in-out;
}
#stack .work.loaded {
	opacity: 1;
}
#stack .work .image_wrapper {
	overflow: hidden;
	border: 2px solid;
	background-color: rgba(255,255,255,0.2);
}
#stack .work .image_wrapper img {
	vertical-align: bottom;
}
#stack .work:last-child .image_wrapper img {
}
#stack .work h3 {
	display: none;
}
