body.admin#faculties {
	.block .alma_mater input {
		float: left;
		font-size: 18px !important;
		line-height: 20px;
	}
	.block .alma_mater input.link {
		border-right: 1px solid rgba(255,255,255,0.3) !important;
		width: calc(60% - 11px);
		width: -moz-calc(60% - 11px);
		width: -webkit-calc(60% - 11px);
	}
	.block .alma_mater input.degree {
		width: calc(40% - 10px);
		width: -moz-calc(40% - 10px);
		width: -webkit-calc(40% - 10px);
	}
}