body.admin#posts {
	.block form select {
		width: 100%;
	}
	.block form .date span {
		opacity: 0.7;
		font-weight: 700;
		padding: 10px;
		float: left;
		width: 60px;
	}
	.block form .date select {
		border-left: 1px solid rgba(255,255,255,0.3);
		float: left;
	}
	.block form .date select:nth-child(2) {
		width: 220px;
	}
	.block form .date select:nth-child(3) {
		width: 55px;
	}
	.block form .date select:nth-child(4) {
		width: 90px;
	}
}