<div class="button swap" id="parent">
	<div class="secondary_fill">
		<%= inline_svg('parent', false) %>
	</div>
</div>
<div class="button swap" id="student">
	<div class="secondary_fill">
		<%= inline_svg('student', false) %>
	</div>
</div>
<div class="button" id="print">
	<div class="secondary_fill">
		<%= inline_svg('print', false) %>
	</div>
</div>