<section class="swapper masonry" id="apply">
	<% @apply_items.each do |item| %>
		<div class="apply_item block">
			<div class="box secondary_fill" <%= color('border', @s) %>>
				<%= inline_svg('check', false) %>
			</div>
			<div class="text swappee parent">
				<%= item.parent %>
			</div>
			<div class="text swappee student hidden">
				<%= item.student %>
			</div>
		</div>
	<% end %>
</section>