<div id="about" class="popup">
	<div class="inner">
		<div class="left half">
			<div class="module">
				<div class="block title">
					Purchase College, SUNY BFA Graphic Design
				</div>
				<div class="block body">
					The graphic design program at Purchase College focuses curriculum within the framework of studio based, interdisciplinary making. Departmentalized within the school of Art+Design, students are invited to explore the cultural practice through a variety of media. Herein, the program challenges students to consider the role of the artist/designer as creative collaborator, if not the originator of project ideas. While graphic design is commonly acknowledged as an art in service of solving visual communication problems for a commercial client, students are encouraged to question the role of the designer in light of contemporary thought. Projects explore industry, community, politics, education, literature, subversive, personal, experimental and other undertakings. Experienced faculty works to promote a learning environment whereby conceptual and formal means of construction and deconstruction are nurtured. Thus, students are able to realize their professional potential within the field of visual communication through a generalized approach.
				</div>
			</div>

			<div class="module">
				<div class="block title">
					Find Us
				</div>
				<div class="block list">
					<div class="row">Purchase College, SUNY</div>
					<div class="row">735 Anderson Hill Road</div>
					<div class="row">Purchase, NY 10577</div>
					<div class="row"><a href="tel:914-251-6000">914-251-6000</a></div>
					<div class="row"><a href="http://www.purchase.edu">www.purchase.edu</a></div>
				</div>
			</div>
		</div>
		<div class="right half">
			<div class="module">
				<div class="block title">
					About This Site
				</div>
				<div class="block body">
					This website functions to serve as a reflection of the graphic design department's mission at Purchase College, SUNY. The site, in addition to the custom content management system was designed and coded by students, selected to participate in the Advanced Web Design course under the direction of faculty member, Jessica Wexler.
				</div>
			</div>

			<div class="module">
				<div class="block title button">
					Enter Backend
				</div>
			</div>

			<div class="module">
				<div class="block title">Designers</div>
				<div class="block list">
					<div class="row">Alex Apostolides</div>
					<div class="row">Krystalina Tom</div>
					<div class="row">Brandon Shefton</div>
					<div class="row">Shannen Craft</div>
					<div class="row">Danielle Leggard</div>
					<div class="row">Daniel Fabricant</div>
				</div>
			</div>
			<div class="module">
				<div class="block title">Developer</div>
				<div class="block list">
					<div class="row">Corey Tegeler</div>
				</div>
			</div>
			<div class="module">
				<div class="block title">Project Manager</div>
				<div class="block list">
					<div class="row">Emily Green</div>
				</div>
			</div>
		</div>
	</div>
</div>