<div id="about" class="popup">
	<div class="buffer"></div>
	<div class="content" <%= color('bg', @s, 'color', @p) %>>
		<div class="inner">
			<div class="left half">
				<div class="module">
					<div class="block title medium">
						Purchase College Graphic Design Department
					</div>
					<div class="block body">
						<% if !About.first.nil? %>
							<%= About.first.text.html_safe %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="right half">
				<div class="module">
					<div class="block title medium">
						<a href="/backend">
							Enter Backend
						</a>
					</div>
				</div>

				<div class="module">
					<div class="block gif">
						<%= image_tag 'backend_animate.gif' %>
					</div>
				</div>

				<div class="module">
					<div class="block title medium">
						About This Site
					</div>
					<div class="block body">
						<% if !About.second.nil? %>
							<%= About.second.text.html_safe %>
						<% end %>
					</div>
				</div>
				<div class="module">
					<div class="block title medium">
						Find Us
					</div>
					<div class="block list">
						<div class="row">
							Purchase College, SUNY</br>
							735 Anderson Hill Road</br>
							Purchase, NY 10577</br>
							<a href="tel:914-251-6000">914-251-6000</a></br>
							<a href="http://www.purchase.edu">www.purchase.edu</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>