<div id="about" class="popup">
	<div class="buffer"></div>
	<div class="content">
		<div class="inner">
			<div class="left half">
				<div class="module">
					<div class="block title medium">
						The Graphic Design BFA Program
					</div>
					<div class="block body">
						<p>The graphic design area offers a distinctive program in the art and practice of print- and digitally based graphic design and experimental publishing. The program approaches graphic design as a vital field of professional art practice that gives shape to culture through a variety of media, including: print and digital books, magazines, brochures, posters, billboards; motion graphics; web and interactive design; type design, exhibition design, packaging, other two-, three-, and four-dimensional manifestations.</p>

						<p>While graphic design usually solves visual communication problems through words, symbols, and images, its applications can be commercial, political, educational, literary, subversive, personal, and experimental.</p>

						<p>To prepare for the range of options in the graphic design field, the program provides a hands-on studio environment with emphasis on the marriage of formal and conceptual skills. After the freshman foundation studies, a three-year sequence of courses begins with training in fundamental principles, skills, theory, and history and progresses toward more advanced and applied applications. Experienced, professional faculty members help students find their own voice and approach to design in a facility that encompasses a broad array of print and digital technologies. The program challenges students to consider the role of the artist/designer as creative collaborator, if not the originator of project ideas.</p>

						<p>In collaboration with the printmaking program, courses in the art of the book and experimental publishing are offered in the facilities of the School of Art+Design’s Center for Editions. The graphic design major is rigorous yet flexible and encourages overlaps with other areas in the school.</p>
					</div>
				</div>
			</div>
			<div class="right half">
				<div class="module">
					<div class="block title">
						About This Site
					</div>
					<div class="block body">
						This website functions to serve as a reflection of the graphic design department's mission at Purchase College, SUNY. The site, in addition to the custom content management system was designed and coded by students, selected to participate in the Advanced Web Design course under the direction of faculty member, Jessica Wexler.
					</div>
				</div>

				<div class="block title button" <%= color('bg', @p, 'border', @s, 'color', @s) %>>
					<div class="pattern" style="background-image:url(<%= @pattern %>)"></div>
					<div class="gradient" style="background-image:url(<%= @gradient %>)"></div>
						Enter Backend
				</div>
				
				<div class="module">
					<div class="block title">
						Find Us
					</div>
					<div class="block list">
						<div class="row">
							Purchase College, SUNY</br>
							735 Anderson Hill Road</br>
							Purchase, NY 10577</br>
							<a href="tel:914-251-6000">914-251-6000</a></br>
							<a href="http://www.purchase.edu">www.purchase.edu</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>