<div class="tooltip" <%= color('color', @s) %>>
	<div class="border" <%= color('bg', @p, 'border', @s) %>>
		<div class="inner">
			<div class="text">
				<%= text %>
			</div>
		</div>
	</div>
</div>